/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.popin {
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: rgba(0,0,0,.7);
	-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0);
	-ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0);
	-o-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0);
	transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0);
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

/*Visible au premier plan*/
.popin.visible {
	-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
	-ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
	-o-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
	transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
	z-index: 1;
	background-color: rgba(0,0,0,0.7);
}

/*Caché au premier plan*/
.popin.hidding {
	z-index: 1;
	-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0);
	-ms-transform: translateX(-50%) translateY(-50%) translateZ(0)  scale(0);
	-o-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0);
	transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0);
	background-color: rgba(0,0,0,0);
}

/*Caché en arrière plan*/
.popin.hidden {
	z-index: -1;
	-webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0);
	-ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0);
	-o-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0);
	transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0);
}


.popin .container {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.popin .container .center {
	width: 60%;
	margin: auto;
	color: white;
	position: relative;
	top: 50%;
	transform: translateY(-60%);
	font-family: "Roboto";
	font-weight: 100;
}

.popin .container .center .title {
	font-size: 1.5em;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
}

.popin .container .center .sound {
	height: 0;
}

.popin .container .center .content {
	margin: 20px 0;
	text-align: center;
}

.popin .container .center .data-visualisation {
	position: relative;
	text-align: center;
}

.popin .container .center .progress {
	display: inline-block;
	width: 30px;
	height: 30px;
}

circle {
  opacity: 0.1;
}
circle.bar {
  opacity: 1;
  stroke-dashoffset: 10;
  transition: 1000ms stroke-dashoffset;
  stroke-linecap: round;
}
circle.bar.colorBack {
	opacity: 0.1;
}
input {
  opacity: 0.5;
  border: 0;
  padding: 3px;
  width: 30px;
}
.progress {
  position: relative;
}
.progress .countDisplay {
	position: absolute;
	top: 50%;
	left: 50%;
	font-weight: bold;
	-webkit-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	-o-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}
svg {
  position: absolute;
  transform: rotate(-90deg);
	left: 0;
	top: 0;
}
