#loader {
	position: fixed;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	-webkit-transition: 2s;
	-o-transition: 2s;
	transition: 2s;
}

#loader.visible {
	opacity: 1;
}

#loader.hidden {
	opacity: 0;
}

#loader .container {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	color: white;
	font-size: 2em;
	font-family: "Roboto";
	font-weight: 100;
	width: auto;
	text-align: left;

}

#loader .container .little {
	font-size: .7em;
}

#loader .container .lib {
	display: inline-block;
}

#loader .container .count {
	font-weight: bold;
	display: inline-block;
	color: #27cece;
	font-size: 4em;
}
