#soundCanvas {
	opacity: 0.6;
	position: absolute;
	right: 0;
	transform: translateY(-30%);
	top: 0;
}

.popin {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0);
  -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0);
  -o-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0);
  transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;

	&.visible {
	  -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
	  -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
	  -o-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
	  transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
	  z-index: 1;
	  background-color: rgba(0, 0, 0, 0.7);
	}
	&.hidding {
	  z-index: 1;
	  -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0);
	  -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0);
	  -o-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0);
	  transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0);
	  background-color: transparent;
	}
	&.hidden {
	  z-index: -1;
	  -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0);
	  -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0);
	  -o-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0);
	  transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0);
	}
	.container {
	  position: fixed;
	  width: 100vw;
	  height: 100vh;
	  top: 50%;
	  left: 50%;
	  padding: 50px;
	  -webkit-transform: translateX(-50%) translateY(-50%);
	  -ms-transform: translateX(-50%) translateY(-50%);
	  -o-transform: translateX(-50%) translateY(-50%);
	  transform: translateX(-50%) translateY(-50%);
		.center {
		  width: 80%;
		  margin: auto;
		  color: white;
		  position: relative;
		  top: 50%;
		  -webkit-transform: translateY(-50%);
		  -ms-transform: translateY(-50%);
		  -o-transform: translateY(-50%);
		  transform: translateY(-50%);
		  font-family: "Roboto";
		  font-weight: 100;
			.title {
			  font-size: 1.5em;
			  letter-spacing: 2px;
			  text-transform: uppercase;
				&.visible {
				  opacity: 1;
				}
				&.hidden {
				  opacity: 0;
				}
			}
			.sound {
			  height: 0;
			}
			.content {
			  margin: 40px 0;
			  text-align: left;
			  font-weight: 100;
			  font-size: 0.9em;
			  opacity: .7;
			  line-height: 1.3em;
			  overflow-y: scroll;
			  height: 300px;
				&::-webkit-scrollbar {
			    display: none;
				}
				span {
				  -webkit-transition: .4s;
				  -o-transition: .4s;
				  transition: .4s;
				  /*font-size: 38px;*/
					&.hide {
					  opacity: 0;
					}
					&.display {
					  opacity: 1;
					}
				}
			}
			.data-visualisation {
			  position: relative;
			  text-align: center;
			}
			.audio-controll {
			  justify-content: center;
				.player{
				  height: 20px;
				  width: 20px;
				  border-radius: 20px;
				  border: 1px solid white;
				}
			}
			.progress {
			  display: inline-block;
			  width: 30px;
			  height: 30px;
			  -webkit-transition: .5s;
			  -o-transition: .5s;
			  transition: .5s;
			  margin-left: 20px;
				&.hide {
				  opacity: 0;
				}
				&.display {
				  opacity: 1;
				}
			}
		}
	}
}
