@import "reset";
@import "font";
@import "loader";

@import "circle";
@import "popin";
@import "range";

.navigation{
  position: absolute;
  top: 64px;
  left: 96px;
  img#logo {
    width: 100px;
    transform: translateX(-50px);
    -webkit-filter:grayscale(1);
    filter: grayscale(1);
    transition: filter 1s;
  }
  img#logo:hover {
    -webkit-filter:grayscale(0);
    filter: grayscale(0);
    transition: filter 1s;
  }
}
